
@media(max-width: 320px) {
  .incind-grid-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 81px;
      height: 82px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, .05), 0 3px 10px 0 rgba(0, 0, 0, .01), 0 18px 30px -10px rgba(75, 82, 94, .099)
  }

  .incind-grid {
      display: grid;
      grid-template-columns: repeat(11, 90px);
      grid-gap: 15px
  }

  .incind-grid-column:nth-of-type(1) {
      display: none;
      padding-top: 83px
  }

  .incind-grid-column:nth-of-type(3) {
      display: none;
      padding-top: 83px
  }

  .incind-grid-column:nth-of-type(4) {
      padding-top: 3px
  }

  .incind-grid-column:nth-of-type(5) {
      display: none;
      padding-top: 83px
  }

  .incind-grid-column:nth-of-type(6) {
      padding-top: 83px
  }

  .incind-grid-column:nth-of-type(7) {
      display: none;
      padding-top: 83px
  }

  .incind-grid-column:nth-of-type(8) {
      display: none;
      padding-top: 83px
  }

  .incind-grid-column:nth-of-type(9) {
      display: none;
      padding-top: 83px
  }

  .incind-grid-column:first-of-type,
  .incind-grid-column:last-of-type {
      grid-template-rows: 1fr;
      padding-top: 43px
  }
}

.number {
  font-weight: 500;
  background-image: url(/final/images/home/text-bg.png);
  background-size: contain
}

.divider-text {
  border: 1.5px solid #3f87f5;
  width: 20%;
  margin: auto
}

.dots {
  position: relative;
  opacity: .3;
  width: 220px;
  right: 0;
  top: -30px;
  z-index: -1
}

.float-none {
  float: left !important
}

@media(max-width:425px) {
  .phone-center {
      text-align: center
  }

  .float-none {
      float: none !important
  }

  .divider {
      margin: auto;
      margin-top: 20px;
      width: 50%;
      height: 4px;
      background-color: #3f87f5;
      opacity: .6
  }
}

.divider {
  margin-top: 20px;
  width: 40%;
  height: 4px;
  background-color: #3f87f5;
  opacity: .6
}

/* Companies */

.trust img {
  max-width: 150px;
}

footer {
  background-image: url(/footer.jpg)
}

@media(max-width:576px) {
  .footer-logo {
      display: none
  }
}

footer li {
  padding-top: 5px
}

footer a {
  color: #000;
  font-size: 16px;
  margin: auto 4px
}

.social {
  font-size: 20px
}

footer hr {
  border: .5px solid #cacaca !important
}